[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-openapi3 = "*"
flask_cors = "*"
jinja2 = "*"
marshmallow = "*"
marshmallow_enum="*"
numpy = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
