[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
jinja2 = "*"
marshmallow = "*"
marshmallow_enum="*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
